In [2]:
import pandas as pd

In [3]:
companies = pd.read_csv("/Users/siddarvind/Downloads/companies.csv")
prior_companies = pd.read_csv("/Users/siddarvind/Downloads/prior_companies.csv")
founders = pd.read_csv("/Users/siddarvind/Downloads/founders.csv")

print(f"{companies.columns}")
print(f"{prior_companies.columns}")
print(f"{founders.columns}")

Index(['Unnamed: 0', 'id', 'name', 'slug', 'website', 'smallLogoUrl',
       'oneLiner', 'longDescription', 'teamSize', 'url', 'batch', 'status'],
      dtype='object')
Index(['hnid', 'company'], dtype='object')
Index(['first_name', 'last_name', 'hnid', 'avatar_thumb', 'current_company',
       'current_title', 'company_slug', 'top_company'],
      dtype='object')

In [4]:
founders.head()#

,first_name,last_name,hnid,avatar_thumb,current_company,current_title,company_slug,top_company
0,Debanjum,Singh Solanky,110,https://bookface-images.s3.amazonaws.com/avata...,Khoj,NaN,khoj,False
1,Jon,Wade,__JW__,https://bookface-images.s3.amazonaws.com/avata...,NaN,NaN,union54,False
2,Sy,Bohy,__sy__,https://bookface-images.s3.amazonaws.com/avata...,Seam,NaN,seam,False
3,Abdelrahman,Hosny,_ahosny,https://bookface-images.s3.amazonaws.com/avata...,ShipBlu,NaN,shipblu,False
4,Christopher,Chae,_chrischae,https://bookface-images.s3.amazonaws.com/avata...,Relate,NaN,relate,False

In [5]:
prior_companies.head()

     hnid    company
0     110       Khoj
1     110  Microsoft
2     110  Hillhacks
3  __JW__    Union54
4  __sy__       Seam

In [11]:
founders_exp = pd.merge(founders, prior_companies, how='left', on='hnid')[['first_name', 'last_name', 'company']]
faang = {'Netflix', 'Apple', 'Google', 'Facebook', 'Meta', 'Amazon', 'Amazon Web Services'}
founders_exp['wasFaang'] = founders_exp['company'].isin(faang).astype(int)
founders_exp['founder'] = founders_exp['first_name'] + ' ' + founders_exp['last_name']
max_faang_rows = founders_exp.loc[founders_exp.groupby('founder')['wasFaang'].idxmax()]
remaining_rows = founders_exp.loc[~founders_exp['founder'].isin(max_faang_rows['founder'])]
final_rows = pd.concat([max_faang_rows, remaining_rows[remaining_rows['wasFaang'] == 0]])
final_rows = final_rows[['founder', 'wasFaang']].drop_duplicates(ignore_index=True).dropna()

final_rows.to_csv('/Users/siddarvind/Downloads/isFaang.csv')

8404
8404